#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID "MINHA_REDE_REAL"
#define WIFI_PASS "MINHA_SENHA_REAL"

// Adicione estas linhas com base no seu firebase_options.dart
#define FIREBASE_HOST "agroautoiot.firebaseio.com" 
#define API_KEY "SUA_API_KEY_DO_FIREBASE_OPTIONS_DART" 
#define FIREBASE_PROJECT_ID "agroautoiot"

#endif